@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?52967635');
  src: url('../font/fontello.eot?52967635#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?52967635') format('woff2'),
       url('../font/fontello.woff?52967635') format('woff'),
       url('../font/fontello.ttf?52967635') format('truetype'),
       url('../font/fontello.svg?52967635#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?52967635#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-right:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; margin: 30px; font-size: 65px; margin-top: 32px; margin-left:35px; } /* '' */
.icon-calendar-1:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-globe:before { content: '\e805'; } /* '' */
.icon-paper-plane:before { content: '\e806'; } /* '' */
.icon-forward:before { content: '\e807'; } /* '' */
.icon-emo-happy:before { content: '\e808'; font-size: 15px; } /* '' */
.icon-emo-wink:before { content: '\e809'; } /* '' */
.icon-emo-unhappy:before { content: '\e80a'; font-size: 15px; } /* '' */
.icon-emo-sleep:before { content: '\e80b'; } /* '' */
.icon-emo-thumbsup:before { content: '\e80c'; } /* '' */
.icon-emo-devil:before { content: '\e80d'; } /* '' */
.icon-emo-surprised:before { content: '\e80e'; } /* '' */
.icon-emo-coffee:before { content: '\e80f'; } /* '' */
.icon-emo-tongue:before { content: '\e810'; } /* '' */
.icon-emo-sunglasses:before { content: '\e811'; } /* '' */
.icon-emo-displeased:before { content: '\e812'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-emo-beer:before { content: '\e814'; } /* '' */
.icon-emo-grin:before { content: '\e815'; } /* '' */
.icon-emo-angry:before { content: '\e816'; } /* '' */
.icon-emo-saint:before { content: '\e817'; } /* '' */
.icon-emo-cry:before { content: '\e818'; } /* '' */
.icon-emo-squint:before { content: '\e819'; } /* '' */
.icon-emo-laugh:before { content: '\e81a'; } /* '' */
.icon-emo-shoot:before { content: '\e81b'; } /* '' */
.icon-search-1:before { content: '\e81c'; } /* '' */
.icon-camera:before { content: '\e81d'; } /* '' */
.icon-right-fat:before { content: '\e81e'; } /* '' */
.icon-left-fat:before { content: '\e81f'; } /* '' */
.icon-right-bold:before { content: '\e820'; } /* '' */
.icon-left-bold:before { content: '\e821'; } /* '' */
.icon-down-bold:before { content: '\e822'; } /* '' */
.icon-down-fat:before { content: '\e823'; } /* '' */
.icon-up-bold:before { content: '\e824'; } /* '' */
.icon-up-fat:before { content: '\e825'; } /* '' */
.icon-globe-2:before { content: '\e826'; } /* '' */
.icon-camera-1:before { content: '\e827'; } /* '' */
.icon-snow-heavy-inv:before { content: '\e828'; } /* '' */
.icon-hail-inv:before { content: '\e829'; } /* '' */
.icon-heart:before { content: '\e82a'; } /* '' */
.icon-temperature:before { content: '\e82b'; } /* '' */
.icon-sun-inv:before { content: '\e82c'; } /* '' */
.icon-moon-inv:before { content: '\e82d'; } /* '' */
.icon-cloud-inv:before { content: '\e82e'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e82f'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e830'; } /* '' */
.icon-cloud-flash-inv:before { content: '\e831'; } /* '' */
.icon-celcius:before { content: '\e832'; } /* '' */
.icon-rain-inv:before { content: '\e833'; } /* '' */
.icon-moon-inv-1:before { content: '\e834'; } /* '' */
.icon-sunrise:before { content: '\e835'; } /* '' */
.icon-sun:before { content: '\e836'; } /* '' */
.icon-moon:before { content: '\e837'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-eclipse:before { content: '\e839'; } /* '' */
.icon-mist:before { content: '\e83a'; } /* '' */
.icon-moon-1:before { content: '\e83b'; } /* '' */
.icon-snowflake:before { content: '\e83c'; } /* '' */
.icon-cloud-sun:before { content: '\e83d'; } /* '' */
.icon-cloud-moon:before { content: '\e83e'; } /* '' */
.icon-fog-sun:before { content: '\e83f'; } /* '' */
.icon-flash:before { content: '\e840'; } /* '' */
.icon-sun-inv-1:before { content: '\e841'; } /* '' */
.icon-sun-1:before { content: '\e842'; } /* '' */
.icon-cloud:before { content: '\e843'; } /* '' */
.icon-cloud-flash:before { content: '\e844'; } /* '' */
.icon-location:before { content: '\e845'; } /* '' */
.icon-home:before { content: '\e846'; } /* '' */
.icon-rain:before { content: '\e847'; } /* '' */
.icon-windy:before { content: '\e848'; } /* '' */
.icon-info:before { content: '\e849'; } /* '' */
.icon-globe-alt:before { content: '\e84a'; } /* '' */
.icon-globe-alt-outline:before { content: '\e84b'; } /* '' */
.icon-snow-heavy:before { content: '\e84c'; } /* '' */
.icon-hail:before { content: '\e84d'; } /* '' */
.icon-clouds:before { content: '\e84e'; } /* '' */
.icon-map:before { content: '\e84f'; } /* '' */
.icon-location-1:before { content: '\e850'; } /* '' */
.icon-direction-outline:before { content: '\e851'; } /* '' */
.icon-direction:before { content: '\e852'; } /* '' */
.icon-compass:before { content: '\e853'; } /* '' */
.icon-location-outline:before { content: '\e854'; } /* '' */
.icon-warning-empty:before { content: '\e855'; } /* '' */
.icon-warning:before { content: '\e856'; } /* '' */
.icon-thumbs-up:before { content: '\e857'; } /* '' */
.icon-thumbs-down:before { content: '\e858'; } /* '' */
.icon-home-1:before { content: '\e859'; } /* '' */
.icon-camera-2:before { content: '\e85a'; } /* '' */
.icon-camera-outline:before { content: '\e85b'; } /* '' */
.icon-search-2:before { content: '\e85c'; } /* '' */
.icon-search-outline:before { content: '\e85d'; } /* '' */
.icon-flight:before { content: '\e85e'; } /* '' */
.icon-globe-3:before { content: '\e85f'; } /* '' */
.icon-up-bold-1:before { content: '\e860'; } /* '' */
.icon-right-bold-1:before { content: '\e861'; } /* '' */
.icon-left-bold-1:before { content: '\e862'; } /* '' */
.icon-down-bold-1:before { content: '\e863'; } /* '' */
.icon-up:before { content: '\e864'; } /* '' */
.icon-left:before { content: '\e865'; } /* '' */
.icon-down:before { content: '\e866'; } /* '' */
.icon-map-1:before { content: '\e867'; } /* '' */
.icon-location-2:before { content: '\e868'; } /* '' */
.icon-compass-1:before { content: '\e869'; } /* '' */
.icon-direction-1:before { content: '\e86a'; } /* '' */
.icon-address:before { content: '\e86b'; } /* '' */
.icon-camera-3:before { content: '\e86c'; } /* '' */
.icon-globe-1:before { content: '\f018'; } /* '' */
.icon-globe-inv:before { content: '\f019'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-instagram-2:before { content: '\f16d'; font-size: 100px; margin: 25px } /* '' */
.icon-tripadvisor:before { content: '\f262'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-map-2:before { content: '\f279'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-calendar:before { content: '\f4c5'; } /* '' */