body
{
	background-color: #ffffff;
}
#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#photo
{
	width: 900px;
	height: 120px;
	background-color: #ffffff;
	text-align: center;
	font-size: 50px;
	margin-top: 60px;
	font-family: 'Pompiere', cursive;
}

#title
{
	width: 50%;
	height: 100px;
	background-color: #ffffff;
	margin-left: 250px;
}

#nav
{
	float: left;
	background-color: #ffffff;
	font-size: 27px;
	text-align: center;
	color: #000000;
	width: 300px;
	margin-top: 10px;
	height: 400px;
	background-image: url('nah.png');
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 400;

	
}

#text
{
	float:left;
	background-color: #ffffff;
	margin-left:10px;
	margin-top: 10px;
	width: 570px;
	height: 400px;
	text-align: justify;
	color: #585858;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 300;
	padding: 10px;
	
}


#ad
{
	background-color: #ffffff;
	width: 580px;
	height: 150px;
	margin-top: 10px;
	float: left;
	
}

#footer
{
	width:900px;
	height: 50px;
	background-color: #ffffff;
	color: #585858;
	text-align: center;
	margin-top: 20px;
}
ol
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul>li
{
	list-style-type: none;
	padding: 5px;
	margin:0;
	text-align: left;
	float: left;
}
ol>li>ul
{
	display: none;
}
ol>li:hover>ul
{
	display: block;
}

.fb
{
	 background-color: #3B5998;
	 float: left;
	 height: 150px;
	 width: 150px;
	 margin: 10px;
	
}
.fb:hover
{
	opacity: 0.7;
}
.inst
{
	 background-color: #000000;
	 float: left;
	 height: 150px;
	 width: 150px;
	 margin-top: 10px;
	 background-image: url('insta.jpg');
	
}
.inst:hover
{
	opacity:0.7;
}

a.sociallink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width:105px;
	height:142px;
	
}
a.titlelink
{
	color: #000000;
	text-decoration: none;
	display: block;
}
.titlelink:hover
{
	font-size: 41px;
}

a.link
{
	color: #000000;
	text-decoration: none;
	display: block;
	font-size: 20px;
	
	
}
.link:hover
{
	font-size: 25px;
	color: #890F0F ;
}